html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: white;
}

.big-container {
    max-width: 1800px;
    margin: 0px auto !important;
}

body {
    padding-top: 5.5rem;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px auto;
}

header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    max-height: 5.5rem;
    background-color: black;
}

#menu-button {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#menu-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

header .container {
    display: flex;
    align-items: center;
    justify-self: center;
    height: 5.5rem;
    padding: 0px 20px
}

header .logo {
    font-weight: bold;
    font-size: 1.5rem;
    color: gold;
    flex: 1;
}

.nav-bar-desktop {
    display: flex;
}

.nav-bar-desktop a {
    padding: 10px;
    font-size: 0.9rem;
    color: white;
}

nav {
    vertical-align: center;
    line-height: 1.6;
    font-size: 1rem;
    color: white;
    padding: 0.5rem 1rem;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    transition: 0.3s ease;
}

.research {
    position: relative;
    padding: 10px;
    display: inline-block;
}

.research-topics {
    display: none;
    list-style: none;
    position: absolute;
    align-self: center;
    background-color: black;
    z-index: 5;
    margin: 0;
    width: 200px;
}

.research-topics a {
    color: white;
    padding: 12px 16px;
    text-align: center;
    display: block;
    margin: 0;
}

.research-topics a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.research:hover .research-topics {
    display: block;
}

.panel {
    position: fixed;
    top: 5.5rem;
    right: -100%;
    /* Initial position to hide the panel */
    width: 180px;
    background-color: black;
    color: white;
    padding: 1rem;
    z-index: 11;
    transition: right 0.3s ease-in-out;
}

.panel ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
}

body.panel-open .panel {
    right: 0;
}
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: end;
    height: 100%;
    z-index: 0;
    color: gold;
    background-image: url("../images/NSOM.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 100%;
}

.banner h1 {
    margin: 10rem auto;
    padding: 0.5rem 0.5rem;
    font-size: 6em;
    background-color: black;
}

.lab-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}

.A{
    background-color: lightgrey;
}

.B{
    background-color: white;
}

.img-container{
    display: flex;
    align-items: center;
    width: 100%;
}

img{
    max-width: 700px;
}

.main h2 {
    color: gold;
    font-weight: bold;
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: center;
    width: 100%;
    font-size: 2rem;
    height: 3rem
}

p{
    font-size: 1.2rem;
}

.main h3 {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

.lab-container p{
    font-size: 1rem;
    margin: 10px;
    line-height: 1.5rem;
}

.instrument-container{
    margin: 5px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.instrument-container ol{
    list-style-type: decimal;
    padding-left: 2rem;
}

.instrument-container li{
    padding-left: 10px;
    font-size: 1rem;
    line-height: 1.5rem;
}

iframe{
    margin: 2px auto;
}

footer {
    background-color: black;
    padding: 1.5rem 2rem;
    color: white;
    display: flex;
    font-size: .75rem;
}

footer a{
    color: white;
}

footer a:hover{
    mouse: pointer;
}

.stt {
    position: fixed;
    z-index: 12;
    right: 1rem;
    bottom: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: rgb(172, 172, 174) url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='currentColor' d='M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 348.9 360.2 352 352 352z'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
    box-shadow: 0 0.25rem 0.5rem 0 gray;
    opacity: 0.7;
  }
  .stt:hover {
    opacity: 0.8;
  }
  .stt:focus {
    opacity: 0.9;
  }
  .stt:active {
    opacity: 1;
  }

  @media screen and (max-width: 1400px) {
      .banner h1 {
          font-size: 6em;
      }

      .banner h2 {
          font-size: 3.5em;
      }

      .banner h3 {
          font-size: 2.5em;
      }
  }

  @media screen and (max-width: 1200px) {
      p {
          font-size: 1rem;
      }
  }

  @media screen and (max-width: 1080px) {
    header .logo {
        font-size: 1.2rem;
    }

    nav {
        font-size: 0.8rem;
        padding: 0.5rem 0.7rem;
    }

    p {
      font-size: 1rem;
    }

    .banner h1 {
      font-size: 4.5em;
    }

    .banner h2 {
      font-size: 2.5em;
    }

    .banner h3 {
      font-size: 1.8em;
    }

    .A{
        flex-wrap: wrap;
    }  

    .B{
        flex-wrap: wrap-reverse;
    }

    img {
        max-width: 600px;
        max-height: 400px;
        width: 100%;
    }

  }

  @media screen and (min-width: 800px) {
      #menu-button {
          display: none;
      }

      .panel {
          display: none;
      }
  }

  @media screen and (min-width: 1000px) and (max-width: 1200) {
      .banner {
          height: 60%;
      }

      img {
          max-width: 600px;
          max-height: 400px;
          width: 100%;
      }
  }

  @media screen and (min-width: 800px) and (max-width: 1000) {
    .banner {
        height: 60%;
    }

    .A{
        flex-wrap: wrap;
    }  

    .B{
        flex-wrap: wrap-reverse;
    }

    img {
        max-width: 600px;
        max-height: 400px;
        width: 100%;
    }
  }

  @media screen and (max-width: 800px) {
    #menu-button {
        display: flex;
    }

    .banner {
        height: 60%;
    }

    footer {
        display: none;
    }
    .A{
        flex-wrap: wrap;
    }  

    .B{
        flex-wrap: wrap-reverse;
    }

    .img-container{
        flex-wrap: wrap;
    }

    p {
        font-size: 1rem;
    }

    ul li{
        font-size: 1rem;
    }

    .main h2 {
        font-size: 1.5rem;
    }

    .main h3 {
        font-size: 1.2rem;
    }

    .desktop-nav {
        display: none;
    }

    .banner h1 {
        font-size: 3rem;
        margin: 0.2rem;
    }

    .banner h2 {
        font-size: 2rem;
        margin: 0.2rem;
    }

    .banner h3 {
        font-size: 1rem;
        margin: 0.2rem;
    }
  }

  @media screen and (max-width: 500px) {

      .banner {
          height: 40%;
      }

      .main h1 {
          font-size: 1.2rem;
          font-weight: normal;
          margin-bottom: 10px;
          height: 3rem;
      }

      .main h3 {
          font-size: 1rem;
      }

      .banner h1 {
        font-size: 2.5rem;
        margin: 5rem;
    }
  }