html{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: white;
}

.main{
    position: relative;
    top: 5.3125rem;
}

header {
    position: fixed;
    z-index: 10;
    width: 100%;
    border-bottom: solid 1px black;
    background-color: black;
}

header .container{
    display: flex;
    align-items: center;
    padding: 1.875rem;
}

header .logo{
    color: white;
    flex:1;
}

header nav ul {
    display: flex;
}

nav li {
    padding-left: 1.5rem;
}

nav a{
    vertical-align: bottom;
    line-height: 1.6;
    font-size: 1rem;
    color: white;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 43.5rem;
    z-index: 0;
    background-image:url("https://blogs.baylor.edu/zhenrong_zhang/files/2018/12/Picture3-2hmw3hw.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.banner h1{
    margin-top: 2rem;
    font-size: 7rem;
    color: white;
    text-align: center;
}

.mission{
    margin: 1rem;
    padding: 0.5rem;
    color:darkslategray;
    list-style: 1.4;
    font-size: 1.5rem;
    justify-content: flex-start;
}

footer{
    background-color: green;
    padding: 1.5rem 2rem;
    color: white;
    display: flex;
    font-size: .75rem;
}